:global(.button) {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
    display: flex;
    align-content: center;
    outline: none;

    & > span {
        vertical-align: middle;
        align-self: center;
    }

    &:global(.floatLeft) {
        float: left;
    }

    &:global(.floatRight) {
        float: right;
    }

    &:global(.boxButton) {
        padding: 6px 36px;
        border-radius: 3px;
        background: #0768d8;
        border: 1px solid #0768d8;
        transition: 400ms background 0ms cubic-bezier(0.77, 0, 0.175, 1);

        & > :global(.buttonLabel) {
            border: none;
            color: #f7f7f7;
            text-decoration: none;
            text-transform: uppercase;
            transition: 400ms color 0ms cubic-bezier(0.86, 0, 0.07, 1);
        }

        &:global(.boxColorBlack) {
            background: #0b0c32;
            border-color: #0b0c32;

            & > :global(.buttonLabelBlack) {
                color: #f7f7f7;
            }
        }

        &:global(.boxColorWhite) {
            background: #ffffff;
            border-color: #ffffff;

            & > :global(.buttonLabelWhite) {
                color: #0b0c32;
            }
        }

        &:global(.boxColorYellow) {
            background: #ffda47;
            border-color: #ffda47;

            & > :global(.buttonLabelYellow) {
                color: #0b0c32;
            }
        }

        &:global(.boxColorBlue) {
            background: #0768d8;
            border-color: #0768d8;

            & > :global(.buttonLabelBlue) {
                color: #f7f7f7;
            }
        }

        &:global(.boxColorOrange) {
            background: #d75b2b;
            border-color: #d75b2b;

            & > :global(.buttonLabelOrange) {
                color: #f7f7f7;
            }
        }

        &:global(.boxColorGreen) {
            background: #2dbf4f;
            border-color: #2dbf4f;

            & > :global(.buttonLabelOrange) {
                color: #f7f7f7;
            }
        }

        &:hover {
            background: #f7f7f7;

            & > :global(.buttonLabel) {
                color: #0768d8;
            }

            &:global(.boxColorBlack) {
                background: #0b0c32;

                & > :global(.buttonLabelBlack) {
                    color: #f7f7f7;
                }
            }

            &:global(.boxColorWhite) {
                background: #0b0c32;

                & > :global(.buttonLabelWhite) {
                    color: #f7f7f7;
                }
            }

            &:global(.boxColorYellow) {
                background: #f7f7f7;

                & > :global(.buttonLabelYellow) {
                    color: #0b0c32;
                }
            }

            &:global(.boxColorBlue) {
                background: #f7f7f7;

                & > :global(.buttonLabelBlue) {
                    color: #0768d8;
                }
            }

            &:global(.boxColorOrange) {
                background: #f7f7f7;

                & > :global(.buttonLabelOrange) {
                    color: #d75b2b;
                }
            }

            &:global(.boxColorGreen) {
                background: #f7f7f7;

                & > :global(.buttonLabelGreen) {
                    color: #2dbf4f;
                }
            }
        }
    }

    & > :global(.buttonLabel) {
        position: relative;
        display: inline-block;
        align-self: center;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        transition: 300ms all 0ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &:global(.buttonLabelBlack) {
            color: #0b0c32;
        }

        &:global(.buttonLabelWhite) {
            color: #f7f7f7;
        }

        &:global(.buttonLabelYellow) {
            color: #ffda47;
        }

        &:global(.buttonLabelBlue) {
            color: #0768d8;
        }

        &:global(.buttonLabelOrange) {
            color: #d75b2b;
        }

        &:global(.buttonLabelGreen) {
            color: #3b8a2d;
        }

        &:global(.buttonLabelSmall) {
            font-size: 1em;
            font-weight: 400;
        }

        &:global(.buttonLabelLarge) {
            font-size: 1.2em;
            font-weight: 600;
        }

        &:global(.buttonLabelIsBold) {
            font-weight: 600;
        }

        &:global(.buttonLabelOnLeft) {
            margin-right: 8px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &:global(.buttonLabelOnRight) {
            margin-left: 8px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    & > :global(.buttonIcon) {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;
        border-radius: 50%;
        transition: 300ms all 0ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

        & i {
            display: block;
            width: auto;
            height: auto;
        }

        &:global(.buttonIconNopadding) {
            width: auto;
            height: auto;
            background: none !important;

            & i {
                position: relative;
            }
        }

        &:global(.buttonIconSmall) {
            width: 29px;
            height: 29px;
        }

        &:global(.buttonIconLarge) {
            width: 49px;
            height: 49px;
        }

        &:global(.buttonIconBackgroundNone) {
            background: color(#f7f7f7 alpha(0%));
        }

        &:global(.buttonIconBackgroundNone-alt) {
            background: color(#f7f7f7 alpha(0%));
        }

        &:global(.buttonIconBackgroundYellow) {
            background: color(#ffda47 lightness(-12%));
        }

        &:global(.buttonIconBackgroundBlue) {
            background: #0768d8;
        }

        &:global(.buttonIconBackgroundOrange) {
            background: #d75b2b;
        }

        &:global(.buttonIconBackgroundGreen) {
            background: #46ad68;
        }

        &:global(.buttonIconBackgroundWhite) {
            background: #ffffff;
        }
    }

    & > :global(.buttonTooltip) {
        position: absolute;
        width: 1000%;
        max-width: 160px;
        padding: 12px 16px;
        font-weight: 600;
        font-size: 0.9em;
        line-height: 1.4;
        background: #3999be;
        box-shadow: 0px 0px 12px color(#3999be lightness(-24%) alpha(0.4));
        color: #f7f7f7;
        border-radius: 2px;
        z-index: 2;
        display: none;

        &:global(.buttonTooltipOnleft) {
            right: 140%;
        }

        &:global(.buttonTooltipOntop) {
            bottom: 120%;
        }

        &:global(.buttonTooltipOnright) {
            left: 140%;
        }

        &:global(.buttonTooltipOnbottom) {
            top: 120%;
        }

        &:global(.buttonTooltipOnleftIn),
        &:global(.buttonTooltipOntopIn),
        &:global(.buttonTooltipOnrightIn),
        &:global(.buttonTooltipOnbottomIn) {
            animation-delay: 0ms;
            animation-duration: 600ms;
            animation-timing-function: cubic-bezier(1, 0, 0, 1);
        }

        &:global(.buttonTooltipOnleftIn) {
            animation-name: showTooltipOnLeft;
        }

        &:global(.buttonTooltipOntopIn) {
            animation-name: showTooltipOnTop;
        }

        &:global(.buttonTooltipOnrightIn) {
            animation-name: showTooltipOnRight;
        }

        &:global(.buttonTooltipOnbottomIn) {
            animation-name: showTooltipOnBottom;
        }

        &:global(.buttonTooltipOnleftOut),
        &:global(.buttonTooltipOntopOut),
        &:global(.buttonTooltipOnrightOut),
        &:global(.buttonTooltipOnbottomOut) {
            animation-delay: 0ms;
            animation-duration: 500ms;
            animation-timing-function: cubic-bezier(1, 0, 0, 1);
        }

        &:global(.buttonTooltipOnleftOut) {
            animation-name: hideTooltipFromLeft;
        }

        &:global(.buttonTooltipOntopOut) {
            animation-name: hideTooltipFromTop;
        }

        &:global(.buttonTooltipOnrightOut) {
            animation-name: hideTooltipFromRight;
        }

        &:global(.buttonTooltipOnbottomOut) {
            animation-name: hideTooltipFromBottom;
        }
    }

    &:hover {
        & > :global(.buttonLabel) {
            &:global(.buttonLabelBlack) {
                border-bottom-color: #0b0c32;
            }

            &:global(.buttonLabelWhite) {
                border-bottom-color: #f7f7f7;
            }

            &:global(.buttonLabelYellow) {
                border-bottom-color: #ffda47;
            }

            &:global(.buttonLabelBlue) {
                border-bottom-color: #0768d8;
            }

            &:global(.buttonLabelOrange) {
                border-bottom-color: #d75b2b;
            }

            &:global(.buttonLabelGreen) {
                border-bottom-color: #46ad68;
            }
        }

        & > :global(.buttonIcon) {
            &:global(.buttonIconBackgroundNone) {
                background: #cec7c0;
            }

            &:global(.buttonIconBackgroundNone-alt) {
                background: #1a5b74;
            }

            &:global(.buttonIconBackgroundYellow) {
                background: #ffda47;
            }

            &:global(.buttonIconBackgroundBlue) {
                background: #3999be;
            }

            &:global(.buttonIconBackgroundOrange) {
                background: #ef7445;
            }

            &:global(.buttonIconBackgroundGreen) {
                background: #2dbf4f;
            }

            &:global(.buttonIconBackgroundWhite) {
                background: #cec7c0;
            }
        }
    }
}

@keyframes showTooltipOnLeft {
    0% {
        transform: translateX(24px);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes hideTooltipFromLeft {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(24px);
        opacity: 0;
    }
}

@keyframes showTooltipOnRight {
    0% {
        transform: translateX(-24px);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes hideTooltipFromRight {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(-24px);
        opacity: 0;
    }
}

@keyframes showTooltipOnTop {
    0% {
        transform: translateY(12px);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes hideTooltipFromTop {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(12px);
        opacity: 0;
    }
}

@keyframes showTooltipOnBottom {
    0% {
        transform: translateY(-12px);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes hideTooltipFromBottom {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-12px);
        opacity: 0;
    }
}
