.button {
    cursor: default;
    outline: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: 28px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #0768d8;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #eeeae7;
    border: 1px solid #e2dbd5;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px rgba(126, 117, 109, 0);
    transition: 300ms box-shadow 0ms cubic-bezier(0.645, 0.045, 0.355, 1),
        300ms background 0ms cubic-bezier(0.645, 0.045, 0.355, 1), 300ms border 0ms cubic-bezier(0.645, 0.045, 0.355, 1);

    &.enabled {
        cursor: pointer;

        &:hover {
            box-shadow: inset 0px 0px 3px rgba(126, 117, 109, 0.66);
        }

        &:focus {
            border: 1px solid #0768d8;
        }
    }
}
