.container {
  border-bottom: 1px solid #CAC7C4;
  padding: 24px;
  padding-bottom: 0;
}

.bottom {
  box-sizing: border-box;
  min-height: 98px;
  padding: 24px;
  margin: 0 -24px;
  margin-top: 24px;
  border-top: 1px solid #CAC7C4;
  background: color(#EEEAE7 lightness(+2%));
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  &>div {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    &:last-child {
      justify-content: flex-end;
    }
  }
}
