:global(.headerSection) {
    background: #3999be;
    padding-left: 64px;
    padding-right: 64px;
    margin-left: -64px;
    margin-right: -64px;
    margin-top: -24px;
    padding-bottom: 24px;
    position: relative;

    &:global(.headerSectionWithMargin) {
        margin-bottom: 24px;
    }

    & .separator {
        top: 1px;
        margin-top: 0;
        position: relative;
        background: color(#3999be lightness(+18%));
    }

    & :global(.row).contentRow {
        & > :global(.col).contentCol {
            flex: 0 1 100%;
            width: 100%;
        }
    }

    & table {
        & tbody {
            & tr {
                & td {
                    padding-top: 8px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #2b81ae;
                }

                &:first-child {
                    & td {
                        padding-top: 8px;
                    }
                }

                &:last-child {
                    & td {
                        padding-bottom: 8px;
                    }
                }

                &:hover {
                    & td {
                        background: rgba(43, 129, 174, 0.3);
                    }
                }
            }
        }
    }
}
