.resolutionNotesFieldGroup {
  margin-top: 9px;
}

.collectAndStereoNotes {
  margin-top: 9px;
}

.designWorkPriorityDatePicker {
  margin-top: 9px;
}

.finishingWorkPriorityDatePicker {
  margin-top: 9px;
}

.submitGraphicsRequestButton {
  margin-top: 31px;
}
