# See http://help.github.com/ignore-files/ for more about ignoring files.
.idea
.vscode
.vs

# dependencies
node_modules

# production
build
public/dist

# misc
.DS_Store
npm-debug.log
api/bin/php_errors.log

vendor/
*.swp
*.php~
*.swo
api/bin/public/php_errors.log
