p {
    font-size: 0.95em;
    color: #0b0c32;
}

.typeBrown {
    color: #7e756d;
}

.typeWhite {
    color: #f7f7f7;
}

.typeDim {
    color: #a59e97;
}

.typeBlue {
    color: #0768d8;
}

.typeAlert {
    color: #d75b2b;
}

.typeSuccess {
    color: #189e44;
}

.styleBold {
    font-weight: bold;
}

.sizeSmall {
    font-size: 0.8em;
}
