:global(.row).campaignSpot {
  padding: 12px 24px;
  background: transparent;
  box-shadow: 0px 8px 8px rgba(126, 117, 109, 0);
  transition: 300ms background 0ms cubic-bezier(0.645, 0.045, 0.355, 1), 300ms box-shadow 0ms cubic-bezier(0.645, 0.045, 0.355, 1);
  &.editing {
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(126, 117, 109, 0.1);
  }
  &.noBottomPadding {
    padding-bottom: 0;
  }
  & .campaignSpotHeader {
    position: relative;
  }
  & h5 {
    font-size: 0.95em;
    font-weight: 600;
    display: inline;
  }
  & .removeSpotButton {
    display: inline-block;
    margin-left: 6px;
    position: relative;
    top: -2px;
  }
  & .editSpotButton {
    position: absolute;
    right: 24px;
    top: -5px;
  }
  &> :global(.col) {
    flex: 0 1 auto;
    width: 100%;
  }
}

:global(.row).campaignSpotVersions {
  position: relative;
  margin-top: 0;
  margin-left: -6px;
  margin-right: -6px;
  padding-right: 48px;
  display: flex;
  flex-wrap: wrap;
  & .separator {
    margin: 5px 0;
  }
  & .versionName,
  & .addVersion {
    margin: 6px;
  }
  & .versionNameDescription {
    width: 33.33%;
  }
  & .versionNameFullWidth {
    flex-grow: 1
  }
  & .addVersion {
    display: inline-flex;
    flex: 0 1 auto;
    padding: 0;
    width: auto;
    & :global(.dropdownLabel) {
      background: #eeeae7;
      padding: 6px;
      height: 32px;
      box-sizing: border-box;
      & p {
        font-size: 0.85em;
        padding-left: 6px;
        & span {
          font-weight: 600;
          color: #5a4d3f;
        }
        & strong {
          padding-right: 0;
        }
      }
    }
  }
}

:global(.button).rotate45>span:global(.buttonIcon) {
  transform: rotateZ(-45deg);
}

:global(.button).campaignSpotVersionAdd {
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -15px;
}

:global(.button).campaignSpotVersionAdd>span:global(.buttonIcon) {
  transform: rotateZ(0deg);
}

:global(.row).spotDetailsContainer> :global(.col) {
  flex: 0 1 100%;
}

.spotDetailsContainerWrapper{
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.spotDetails {
  margin: 12px 0;
  & p {
    margin-top: 6px;
    font-size: 0.85em;
    &.noMargin {
      margin-top: 0;
    }
    &:first-child {
      margin-top: 0;
    }
    &>span {
      color: #a59e97;
      font-weight: 400;
    }
    &>strong {
      color: #5a4d3f;
      font-weight: 600;
    }
  }
}
.spotDetailsLeft {
  width: 50%;
  margin: 12px 0;
  & p {
    margin-top: 6px;
    font-size: 0.85em;
    &.noMargin {
      margin-top: 0;
    }
    &:first-child {
      margin-top: 0;
    }
    &>span {
      color: #a59e97;
      font-weight: 400;
    }
    &>strong {
      color: #5a4d3f;
      font-weight: 600;
    }
  }
}
.spotDetailsRight {
  width: 50%;
  margin: 12px 0;
  & p {
    margin-top: 6px;
    font-size: 0.85em;
    &.noMargin {
      margin-top: 0;
    }
    &:first-child {
      margin-top: 0;
    }
    &>span {
      color: #a59e97;
      font-weight: 400;
    }
    &>strong {
      color: #5a4d3f;
      font-weight: 600;
    }
  }
}

.endSeparator {
  background: #e2dcd7;
  margin-bottom: 0;
  width: 100%;
}
