.board {
  margin: 0;
}

.projectContainer {
  padding-top: 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.board > :global(.col0) {
  width: 100%;
  flex: 1 0 auto;
  box-sizing: border-box;
}

.project {
  cursor: pointer;
  border-radius: 3px;
  background: color(#EEEAE7 lightness(+3%));
  border: 5px solid #EEEAE7;
  box-sizing: border-box;
  margin-top: 48px;
  transition: 600ms border 0ms cubic-bezier(0.645, 0.045, 0.355, 1),
              400ms background 0ms cubic-bezier(0.645, 0.045, 0.355, 1);

  & .title {
    margin-top: 48px;
    cursor: pointer;

    & > :global(.col) {
      text-align: center;
    }
  }

  & .name {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 3px 16px;
    font-size: 1.5em;
    font-weight: 700;
    color: #0768D8;
    border-bottom: 1px solid color(#0768D8 alpha(0));
    transition: 600ms border 0ms cubic-bezier(0.645, 0.045, 0.355, 1);

    & i {
      display: inline-block;
      width: 0px !important;
      margin-left: 0px !important;
      margin-top: 0 !important;
      top: -2px;
      transition: 400ms margin 0ms cubic-bezier(0.86, 0, 0.07, 1),
                  300ms width 0ms cubic-bezier(0.86, 0, 0.07, 1);
    }
  }

  & .summary {

    & .dateCol {

      & p {
        color: #5A4D3F;
        font-weight: 600;
        font-size: 0.8em;
      }
    }

    & .dateCol {

      & p {

        & span {
         display: inline-block;
         margin-right: 4px;
         color: #968069;
         font-weight: 300;
       }
      }
    }

    & .nameCol {

      & :global(.personName) > p {
        font-size: 0.7em;
        color: #5A4D3F;
      }
    }
  }

  &:first-child {
    margin-top: 12px;
  }

  &:hover {
    background: color(#EEEAE7 lightness(+5%));
    border-color: color(#EEEAE7 lightness(-2%));

    & .name {
      border-bottom-color: #0768D8;

      & i {
        width: 15px !important;
        margin-left: 6px !important;
      }
    }
  }
}

.lastUpdate {
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: center;
  background: #EEEAE7;
  border-radius: 3px;
}

.client {
  display: block;
  text-align: center;
  margin-top: 4px;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

:global(.row).campaigns {
  justify-content: center;
  padding: 16px;
}

:global(.row).campaigns > :global(.col) {
  display: inline-block;
  margin: 4px;
  padding: 4px 8px;
  background: #EEEAE7;
  color: #5A4D3F;
  font-size: 0.85em;

  &:first-child {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background: none;
  }
}

.summary {
  align-items: center;
  border-top: 1px dashed #E7E0DA;
  margin-top: 16px;
  align-items: stretch;

  & > :global(.col) {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-bottom: 12px;
    padding-top: 12px;
    border-left: 1px dashed #E7E0DA;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      justify-content: flex-end;
      text-align: right;
    }
  }
}

.activity p {
  font-weight: 700;
  line-height: 16px;
}

.activity p::before {
  content: "";
  top: 2px;
  margin-right: 8px;
  position: relative;
  display: inline-block;
  background: url("./../../../assets/images/comments/chat-dots-brown-icon.svg") center no-repeat;
  background-size: 18px 16px;
  width: 18px;
  height: 16px;
}

.activity.unread p {
  color: #D75B2B;
}

.pagination {
  margin-top: 48px;
}
