.campaign {
  border-radius: 3px;
  background: color(#eeeae7 lightness(+3%));
  border: 5px solid #eeeae7;
  box-sizing: border-box;
  margin-top: 12px;
  &:first-child {
    margin-top: 0;
  }
  &.campaignWithFixedHeader {
    padding-top: 53px;
  }
}

.collapseButton{
  padding: 24px 24px 0 24px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 0.95em;
  font-weight: 600;
  color: rgb(126, 117, 109);
}
.collapseButtonLabel{
  margin-right: 10px;

}