.campaign {
  border-radius: 3px;
  background: color(#eeeae7 lightness(+3%));
  border: 5px solid #eeeae7;
  box-sizing: border-box;
  margin-top: 12px;
  &:first-child {
    margin-top: 0;
  }
  &.campaignWithFixedHeader {
    padding-top: 53px;
  }
}
