.campaignHeader {
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: #eeeae7;
    padding-bottom: 12px;
    padding-top: 12px;
    
    .newCustomerButton {
        margin-right: 20px;
        padding-bottom: 8px;
    }
    
    .editButtonWithLabel {
        display: flex;
        align-items: center;
        
        > h5 {
            margin-right: 10px;
        }
    }
    
    .removeButton {
        margin-left: 10px;
    }
    
    .colWrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 0 24px;
    }
    
    .campaignInfo {
        justify-content: flex-start;
        align-items: center;
    }
    
    .campaignName {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        flex: 0 1 auto;
        padding: 0;
        padding-left: 0;
        
        h5 {
            color: #5a4d3f;
            font-size: 0.8em;
            font-weight: 600;
        }
        
        p {
            margin-left: 8px;
            opacity: 1;
            transition: 300ms opacity 0ms cubic-bezier(0.645, 0.045, 0.355, 1);
            &.invisible {
                opacity: 0;
            }
        }
    }
    
    .campaignRemoveButtonContainer {
        display: flex;
        align-items: flex-end;
        flex: 0 1 auto;
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        
        .inlineBlock {
            display: inline-block;
        }
    }
    
    &.campaignHeaderFixed {
        position: fixed;
        z-index: 9;
        top: 0;
        margin-left: -5px;
        box-shadow: 0px 4px 16px rgba(126, 117, 109, 0.1);
    }
}
