
.tableContainer tbody tr {
  font-size: 14px;
  cursor: pointer;
  padding: 5px 0;

}
.editorsContainer {
  /* font-size: 8px; */
}
.tableContainer tbody tr span{
  background-color: #d8c6b8;
  color: Sienna;
  font-weight: 600;
  border-radius: 3px;
  padding: 0 3px;
  margin-left: 5px;
}

.filterButtonWrapper{
  display: flex; 
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.filterButton{
  padding: 5px 10px;
  background-color: #c3ae99;
  border-radius: 3px;
  color: black;
  margin-left: 10px;
  border: 2px solid #c3ae99;
  box-sizing: border-box;
  cursor: pointer;
}

.filterButton__active{
  padding: 5px 10px;
  background-color: #c3ae99;
  border-radius: 3px;
  color: black;
  margin-left: 10px;
  border: 2px solid sienna;
  box-sizing: border-box;
  cursor: pointer;
}
  
  
  