.spotsSummary {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.spotEditor {
  margin-right: 12px;
}

.sentViaMethodsContainer,
.studioContactsContainer,
.typeFinishingOptions {
  display: flex;
  flex-wrap: wrap;
  margin-top: -6px;
  margin-left: -12px;
  margin-right: -12px;
  &>label {
    margin: 6px 12px;
  }
}

.typeFinishingOptions {
    float: right;
}

.summary {
  display: flex;
  justify-content: flex-end;
  &>* {
    margin-left: 48px;
  }
}
