.spotsSummary {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.spotEditor {
  margin-right: 12px;
}

.sentViaMethodsContainer,
.studioContactsContainer,
.typeFinishingOptions {
  display: flex;
  flex-wrap: wrap;
  margin-top: -6px;
  margin-left: -12px;
  margin-right: -12px;
  &>label {
    margin: 6px 12px;
  }
}
.sentViaMethodsContainer__squareCheckbox button{
    border-radius: 3px !important;
}

.sentViaMethodsContainer__withInputFields{
    flex-flow: column nowrap;
    margin-left: 0;
    margin-right: 0;
}

.acceptButtonsContainer {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin-top: -6px;
    margin-left: -12px;
    margin-right: -12px;
    flex-direction: row-reverse;
    &>label {
         margin: 6px 12px;
    }
}

.typeFinishingOptions {
    float: right;
}

.summary {
  display: flex;
  justify-content: flex-end;
  &>* {
    margin-left: 48px;
  }
}

.finishRequestSection {
    margin: 15px 0;
    text-align: left;
    &>h3 {
        margin: 0 0 5px 0;
        font-size: 0.95em;
        font-weight: 600;
        color: #a59e97;
    }
    &>label {
         margin: 6px 24px 6px 0;
     }
    &>.sentViaMethodsContainer {
        margin-top: 5px;
     }
}

.loadingSpinner {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -32px;
}

.editorBlock {
    display: inline-flex;
}

.editorRemoveButton {
    width: 25px;
    height: 38px;
    color: red !important;
    font-weight: bolder;
    cursor: pointer;
    line-height: 38px;
    display: inline-flex;
    vertical-align: top;
    margin-right: 12px;
}
.fileCheckbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.acceptedLabels {
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & > span{
        display: block;
        background-color: #d8c6b8;
        color: Sienna;
        border-radius: 3px;
        padding: 5px;
        margin: 10px auto 3px 5px;
        font-size: 12px;
    }
}
.withFlexRow{
    flex-flow: row nowrap;
}
.filesList {
    padding: 10px 0;
    & > div {
        padding-bottom: 5px;
        & > a {
            text-decoration: none;
            color: black;
            display: flex;
            flex-flow: row nowrap;

        }
    }
}
.fileName{
    margin-left: 5px;
    font-size: .95em;
    color: #0b0c32
}
.buttonSendContainer{
    position: relative;
}
.buttonsSentShutter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: transparent;
    cursor: not-allowed;
}
.mainSpotHeaderInfo {
    padding: 20px 10px;
    transform: translateX(-230px);
}
.mainSpotHeaderInfoLongNumber{
    padding: 20px 10px;
    transform: translateX(-210px);
}
.mainSpotHeaderInfo__number{
    font-size: 40px;
    color: rgb(255,218,71);
}
.mainSpotHeaderInfo__spotList{
    display: flex;
    flex-flow: row nowrap;
    & > .mainSpotHeaderInfo__spotListLabel{
        color: white;
        margin-right: 10px;
    }
    & > .mainSpotHeaderInfo__spotListSpots{
        font-size: 14px;
        font-weight: 600;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    
}
.mainSpotHeaderInfo__campaign{
    display: flex;
    flex-flow: row nowrap;
    & > .mainSpotHeaderInfo__campaignLabel{
        color: white;
        margin-right: 10px;
    }
    & > .mainSpotHeaderInfo__campaignNames{
        font-size: 14px;
        font-weight: 600;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
}
.spotCampaignInfo{
    padding: 20px 10px;
}
.spotCampaignInfo__campaignName{
    text-align: start;
}
.successfullAcceptContainer{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #c7e8c7;
    border-radius: 5px;
    color: #50a550;
    opacity: 1;
    transition: all .5s ease;
    font-size: .95em;
}
.successfullAcceptContainer__hidden{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #c7e8c7;
    border-radius: 5px;
    color: #50a550;
    transition: all .5s ease;
    opacity: 0;
    transform: translateY(30px);
    font-size: .95em;
}
.deadlineContainer{
    padding: 10px 0;
    width: 30%;
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.deadlineContainer__time{
    padding: 5px;
    background-color: #efebe6;
    border: 1px solid #cac7c4;
}
.projectDisableBackdrop{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1000;
}
