.userNotification{
  background-color: #F9F7F6;
  border: 2px solid #7d6e34;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  /* padding: 0 10px; */
}
.userNotification__header{
  padding: 10px 0;
}
.userNotification__message{
  color: rgb(126, 117, 109);
}
.userNotification__actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}
.userNotification__acitons_complete,
.userNotification__acitons_dismiss{
  margin-left: 10px;
  border: 1px solid #7d6e34;
  border-radius: 3px;
  padding: 5px;
  color: sienna;
  font-size: .9em;

  &:hover{
    background-color: #d8d8d8;
    cursor: pointer;
  }
}
.userNotification__linkButton{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  padding: 5px; 
}
.userNotification__link {
  text-decoration: none;
  font-size: .9em;
  padding: 5px;
    background-color: sienna;
    color: white;
    border: 1px solid sienna;
    border-radius: 3px;
    cursor: pointer;
    
    &:hover{
      color: sienna;
      background-color: white;
    }
}