.loadingSpinnerBlock {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clickable {
    cursor: pointer;
}

.rateCardContainer {
    display: flex;
    position: relative;
}

.rateCardSelector {
    line-height: 29px;
    margin-right: 8px!important;;
}

.addRateModal {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e8e0d7;
    border: 2px solid #a59e97;
    padding: 24px;
    box-sizing: border-box;
}

.addRateModalButtonsWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    padding: 0 8px;
}

.addRateInputError {
    color: #D75B2B;
    font-size: 10px;
}

.inputError {
    border: 1px solid #D75B2B!important;
}

.rateSaveAddButton {

}

.rateCloseAddButton {

}

.rateCardAddButton {

}

.rowEditButton {
    margin: auto;
}

.rowCancelButton {
    margin-left: 8px;
}


.optionClassName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.trtSelector {
    white-space: nowrap;
}

.rowActionButtons {
    display: flex;
}

.noteLabel {
    margin-bottom: 2px;
    font-size: 14px;
}

.rateCardNoteWrapper {
    padding: 16px 24px;
}

.rateCardNote {
    border: 1px solid #a59e97;
    position: relative;
    border-radius: 3px;
    min-height: 80px;
    margin-bottom: 24px;
    padding: 10px 16px;
    padding-right: 140px!important;
}

.rateCardNoteActions {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
}

.noteTextAreaStyles {
    color: #5a4d3f!important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: initial!important;
    max-height: initial!important;
    resize: none!important;
    height: initial!important;
    padding-right: 140px!important;
}

.noteTextAreaWrapperStyles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}