.row {
    & > div {
        display: flex;
        align-content: center;
        align-items: center;
    }
}

.rateAndEditCol {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
