.loadingBarContainer {
  margin: 0 24px;
}

:global(.row).peopleList {
  margin-top: -12px;

  & > :global(.col).peopleContainer {
    flex: 0 1 auto;
    display: block;
    width: 100%;
    padding: 0;
  }

  & .person {
    margin-top: 12px;
    margin-left: 24px;
  }

  & .empty {
    margin: 0 24px;
    font-size: 0.85em;
  }
}
