.campaignCreativeExecutive {
  position: relative;
  margin: 24px 0;
}

.campaignCreativeExecutive > :global(.col) {
  flex: 0 1 100% !important;
}

.campaignCreativeExecutive p {
   color: #A59E97;
   font-size: 0.8em;
   font-weight: 400;
}

.campaignCreativeExecutive h4 {
  font-size: 0.95em;
  font-weight: 600;
  color: #0768D8;
}

.campaignCreativeExecutive.expandable h4 {
  cursor: pointer;
}

.campaignCreativeExecutive.expandable h4:hover {
  text-decoration: underline;
}

.campaignCreativeExecutive h4 span {
  color: #A59E97;
  font-weight: 400;
}

.campaignCreativeExecutive ul.creativeExecInfo {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  display: none;
}

.campaignCreativeExecutive.showExecutiveInfo ul.creativeExecInfo {
  display: block;
}

.campaignCreativeExecutive ul.creativeExecInfo li {
  box-sizing: border-box;
  position: relative;
  display: block;
  list-style: none;
  margin: 0;
  padding: 5px 0;
  padding-left: 32px;
  font-size: 0.85em;
}

.campaignCreativeExecutive ul.creativeExecInfo li i {
  position: absolute;
  top: 50%;
  left: 0;
}

.campaignCreativeExecutive ul.creativeExecInfo li a {
  text-decoration: none;
  color: #0768D8;
}

.campaignCreativeExecutive ul.creativeExecInfo li a:hover{
  text-decoration: underline;
}

.campaignCreativeExecutive ul.creativeExecInfo li.creativeExecEdit {
  padding-left: 0;
  margin-top: 6px;
  margin-left: -3px;
}

.campaignCreativeExecutive ul.creativeExecInfo li.creativeExecEdit i {
  top: 50%;
  left: 50%;
}

.campaignCreativeExecutive ul.creativeExecInfo li.creativeExecEdit :global(.buttonLabel) {
  margin-left: 6px;
}

.campaignCreativeExecutive .execInfoToggleButton {
  position: absolute;
  right: 24px;
  top: -5px;
}

.campaignCreativeExecutive .campaignCreativeExecutiveAssignButton {
  position: absolute;
  right: 24px;
  top: -5px;
}

:global(.button).rotate45 > span:global(.buttonIcon) {
  transform: rotateZ(-45deg);
}
